/* Global Variables */
// $primary: #2E5E4E;
// $primaryHover: #3b7662;
// $secondary: #6B8F71;
// $secondaryHover: #7ca483;
// $tertiary: #F1F3F2;
// $tertiaryHover: #dfdfdf;
// $contrast: #2C3E50;
// $contrastHover: #3e556d;
$primary: #365226;
$primaryHover: #476a33;
$secondary: #8D3A1E;
$secondaryHover: #ac4826;
$tertiary: #F1F3F2;
$tertiaryHover: #dfdfdf;
$contrast: #345A69;
$contrastHover: #426f81;

$accentRed: #8D3A1E;
$accentGreen: #365226;
$accentBlue: #345A69;
$base: #F1EDE1;


$white: #ffff;
$offWhite: #f8f8f8;
$black: #292929;
$font: #4e4d4d;
