
@use '@/styles/_variables.module' as *;


.searchbarWrapper {
    width: 100%;
    .searchbarInput {
        width: 100%;
        height: 50px;
        border-radius: 16px;
        margin-bottom: 20px;
        padding: 15px;
        background-color: $white;
        border: $contrast 2px solid;
        color: $font;
        font-size: 20px;

    }
}
